body {
  font-family: Arial, sans-serif;
}
.border-50 {
  border-radius: 2rem;
}
.header-text {
  font-size: 30px;
  color: white;
}
.z-index {
  z-index: -1;
}
.main {
  background-image: url("../images/home/home.jpg");
  background-size: cover;
}
.main .main-title {
  font-size: 118px;
  font-weight: bold;
  color: white;
  padding-top: 10rem;
}
.main .header-list {
  font-size: 24px;
  color: white;
  width: 50%;
}
.main .btn-header {
  background: #131109;
  color: white;
  width: 450px;
  height: 140px;
  border-radius: 7rem;
  font-size: 29px;
  margin-left: auto;
}
.main .header-bottom {
  color: white;
  font-size: 25px;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.four {
  background: #D8D1CB;
}
.four .four-cards-title {
  font-weight: bold;
  font-size: 25px;
  margin-top: 5px;
}
.four .four-cards-text {
  margin: 0;
  min-height: 200px;
}
.four .four-cards {
  width: 40rem;
}
.four .wrap-four {
  width: max-content;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.four h1 {
  font-size: 110px;
  font-weight: bold;
}
.four h2 {
  font-size: 38px;
  font-weight: bold;
}
.find {
  background-image: url("../images/find/mikrofon.jpg");
  background-size: cover;
}
.find .wrap-find {
  width: max-content;
}
.find .find-card {
  padding: 0.5rem;
}
.find .wrapper.red {
  width: max-content;
  padding: 0.5rem;
  background: #BDA3A1;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 10px #bda3a1;
}
.find .wrapper.orange {
  width: max-content;
  padding: 0.5rem;
  background: #D5C7B9;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 10px #D5C7B9;
}
.find .wrapper.green {
  width: max-content;
  padding: 0.5rem;
  background: #D3E7CA;
  border-radius: 2rem;
  box-shadow: 0px 0px 10px 10px #D3E7CA;
}
.find p {
  font-size: 14px;
}
.lesson {
  background: #D8D1CB;
}
.lesson .box {
  width: 61%;
  padding: 0.5rem;
  border: 4px solid #870000;
  border-radius: 1rem;
  color: #870000;
  text-align: center;
  transform: rotate(-9deg);
  margin-top: 4rem;
  margin-left: auto;
}
.lesson .btn-lesson {
  padding: 1rem;
  background: black;
  color: white;
  font-size: 25px;
  width: 25rem;
}
.lesson .lesson-right {
  width: 28rem;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.lesson .lesson-right::before {
  content: "";
  position: absolute;
  width: 7rem;
  height: 7rem;
  background-image: url("../images/lesson/boock.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
  left: -4rem;
  top: -2rem;
}
.video .card-video {
  width: 27rem;
  padding: 1rem;
}
.foto {
  background: #D8D1CB;
}
.foto .card-foto {
  width: 27rem;
  padding: 1rem;
}
.proba .middle {
  width: 71%;
  margin: 0 auto;
}
.fact {
  background: #D8D1CB;
}
.form {
  background-image: url("../images/form/Frame 8.jpg");
  background-size: cover;
  color: white;
}
.form .btn-form {
  background: black;
  color: white;
  width: 100%;
}
footer {
  background: linear-gradient(180deg, #2B261A 0%, #050401 100%);
}
#myform {
  margin: 0 auto;
}
.btn-forms {
  background: #131109;
  color: white;
  border-radius: 7rem;
  font-size: 16px;
  padding: 6px;
}
.shadow-form {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #00000073;
  position: fixed;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
.shadow-form.active {
  z-index: 999999999;
  opacity: 1;
  transition: 0.5s;
}
.shadows {
  background: #231f20;
}
.opacity:hover {
  cursor: pointer;
  opacity: 0.8;
}
/*# sourceMappingURL=index.css.map */